.App {
  text-align: center;
}

.comment {
  background-color: cornflowerblue;
  color: white;
  font-family: sans-serif;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}
